header{
    display: flex;
    justify-content: space-between;
    font-family: Inter;
}


.logo {
    width: 253px;
}

.logoImg{
    width: 100%;
}

.input{
    width: 600px;
    position: relative;
}

.inputSearch{
    background-color: rgba(71, 71, 71, 0.1);
    border: none;
    height: 30px;
    padding: 6px 12px;
    width: 100%;
    border-radius: 8px;
}

.storeLinks {
    display: flex;
    gap: 40px;
}

.btnLogin{
    color: white;
    background-color:rgba(201, 32, 113, 1);
    text-align: center;
    border-radius: 8px;
    min-width: 70px;
    padding: 12px 18px;
    text-decoration: none;
}

.SearchImg{
    position: absolute;
    top: 10px;
    left: 590px;
}

.signUp{
    color: #474747;
    ;
}
